.ticTacToeGame {
}

.ticTacToeGame__cell {
  width: 100px;
  height: 100px;
  border: 1px solid cornflowerblue;
  font-size: 100px;
  line-height: 1em;
  text-align: center;
  color: crimson;
}

.ticTacToeGame__row {
  display: inline-flex;
}
